.App {
	background: white;
	display: flex;
	height: 100%;
	width: 100%;
	position: absolute;
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background: #222;
	border-bottom: 1px solid #111111;
	box-shadow: 0 0 3px black;
	color: white;
	display: inline-flex;
	height: 38px;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 100;
}

.App-title {
	background-color: inherit;
	font-size: 1.5em;
	position: absolute;
	left: 0;
	padding-left: 20px;
}

.App-intro {
	font-size: large;
}
